# This file contains common pin mappings for the BIGTREETECH SKR V1.4
# board. To use this config, the firmware should be compiled for the
# LPC1768.

[include /home/pi/klipper_config/macros.cfg]
[include /home/pi/klipper_config/stealthburner_leds.cfg]
[include mks_mini_12864_v3.cfg]

[include printer_limits.cfg]
[include bltouch.cfg]

[include stepper_x.cfg]
[include stepper_y.cfg]
[include stepper_z.cfg]



[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_09A0001545084AAF05E57F5DC72000F5-if00
restart_method: command

[mcu EBBCan]
canbus_uuid: 4b2874ce036b

[mcu rpi]
serial: /tmp/klipper_host_mcu

[virtual_sdcard]
path: ~/gcode_files

[bltouch]
sensor_pin: EBBCan: PB8
control_pin: EBBCan: PB9
; pin_up_reports_not_triggered: True
; pin_up_touch_mode_reports_triggered: False
; pin_move_time: 0.3

; probe_with_touch_mode: True
#the higher z_offset the closer to the bed
z_offset: 1.48
x_offset: 37.871
y_offset: 10.644

[adxl345 hotend]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[adxl345 bed]
cs_pin: rpi:None


[resonance_tester]
accel_chip_x: adxl345 hotend
accel_chip_y: adxl345 bed
probe_points:
    135, 135, 20  # an example


[safe_z_home]
home_xy_position: 150,150 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm
z_hop_speed: 10


[bed_mesh]
speed: 300
horizontal_move_z: 4
mesh_min: 50,20
mesh_max: 260,270
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2

[z_tilt]
z_positions:
    -40, 150
    310, 150
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
    0, 150
    240, 150

#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 150
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.0050
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.




[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
# rotation_distance: 22.6789511	#Bondtech 5mm Drive Gears
# rotation_distance: 22.225372078
# rotation_distance: 22.247597450078
rotation_distance: 22.381350183928648

# rotation_distance: 22.203146705922
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:10			#BMG Gear Ratio CW2
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PA2
sensor_type:MAX31865
sensor_pin: EBBCan: PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
pressure_advance: 0.05
#	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: P2.5
#thermistor for original Tevo Tornado
#sensor_type: EPCOS 100K B57560G104F
#thermistor for new heater bed Keenovo:
sensor_type: Generic 3950
sensor_pin: P0.25
max_power: 0.5
min_temp: 0
max_temp: 130

[fan]
pin: EBBCan: PA1
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0
max_power: 1.0
kick_start_time: 0.5
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0


[controller_fan controller_fan_skr]
##	Controller fan - CNC_FAN2
pin: P2.4
kick_start_time: 0.100
heater: extruder
fan_speed: 1
max_power: .7


[controller_fan controller_fan2]
#	Controller fan - CNC_FAN3
pin: P2.7
kick_start_time: 0.100
heater: extruder
fan_speed: 1
max_power: .5



# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
#     EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
#     # EXP2 header
#     EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
#     EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
#     # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

#############################################
## BOARD PINS + DISPLAY + SD CARD
#############################################
######################################################################
# BTT SKR 1.4 Turbo 
######################################################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"


[gcode_macro G29]
gcode:
  G28
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE
  BED_MESH_PROFILE SAVE=bedmesh_saved
  G0 X150 Y150 Z60 F2000

[gcode_macro M17]
gcode:
  SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
  SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1
  SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE=1

[gcode_macro M900]
gcode: SET_PRESSURE_ADVANCE ADVANCE={K}

[gcode_macro m205]
gcode:
    G4

# Gcode for clearing the display
[delayed_gcode clear_display]
gcode:
    M117

[gcode_macro G80]
gcode:
 BED_MESH_CALIBRATE
 G1 X194 Y162 F3600

[gcode_macro G81]
gcode:
 BED_MESH_OUTPUT


# Idle timeout. An idle timeout is automatically enabled - add an
# explicit idle_timeout config section to change the default settings.
[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 120
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.



# Gcode executed when the printer is ready
[delayed_gcode on_ready]
initial_duration: 1
gcode:
    SET_IDLE_TIMEOUT TIMEOUT=3000
    M117 Ciao Edo e Magda
    STATUS_READY
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.352
#*# pid_ki = 1.185
#*# pid_kd = 125.104
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 31.752
#*# pid_ki = 0.694
#*# pid_kd = 363.160
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.241754, -0.095147, 0.054259, 0.074780, 0.011971
#*# 	-0.187495, -0.077890, 0.055191, 0.030627, -0.022543
#*# 	-0.138212, -0.039334, 0.042288, -0.020211, -0.128573
#*# 	-0.127173, -0.077734, -0.015858, -0.093437, -0.263520
#*# 	-0.132148, -0.044153, -0.043998, -0.186873, -0.405618
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.001
#*# max_x = 260.001
#*# min_y = 20.004
#*# max_y = 270.004
#*#
#*# [bed_mesh bedmesh_saved]
#*# version = 1
#*# points =
#*# 	-0.241754, -0.095147, 0.054259, 0.074780, 0.011971
#*# 	-0.187495, -0.077890, 0.055191, 0.030627, -0.022543
#*# 	-0.138212, -0.039334, 0.042288, -0.020211, -0.128573
#*# 	-0.127173, -0.077734, -0.015858, -0.093437, -0.263520
#*# 	-0.132148, -0.044153, -0.043998, -0.186873, -0.405618
#*# tension = 0.2
#*# min_x = 50.001
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 20.004
#*# x_count = 5
#*# max_y = 270.004
#*# mesh_x_pps = 2
#*# max_x = 260.001
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 61.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 40.2
